{{ define "main" }}

  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}

  {{ $oldContext := . }}
  {{ if $.Site.Params.indexPortfolio }}
    <div class="sections">
      {{ $homepages := where $.Site.RegularPages.ByWeight "Type" "homepage" }}
      {{ range $homepages }}
        <section class="homepage-section framed" id="{{ anchorize .Title }}">
          <h1 class="section-title">{{ .Name }}<a href="#{{ anchorize .Title }}" class="hanchor" arialabel="Anchor">⌗</a></h1>
          <div class="post-content">
            {{ if .Params.showMore }}
              {{ partial "collection.html" (dict "context" $oldContext "contentType" (lower .Title) "postNum" 3) }}
            {{ else }}
              {{- with .Content -}}
                {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">&#8983;</a> ${3}` | safeHTML }}
              {{- end -}}
            {{ end }}
          </div>
        </section>
      {{ end }}
    </div>
    {{ else }}
      {{ partial "collection.html" (dict "context" . "contentType" "posts") }}
    {{ end }}

{{ end }}
