{{ $id := delimit (shuffle (seq 1 9)) "" }}

{{ if .Get "language" }}
  <div class="collapsable-code">
    <input id="{{ .Get "id" | default $id }}" type="checkbox" {{ if ( eq ( .Get "isCollapsed" ) "true" ) -}} checked {{- end }} />
    <label for="{{ .Get "id" | default $id }}">
      <span class="collapsable-code__language">{{ .Get "language" }}</span>
      {{ if .Get "title" }}<span class="collapsable-code__title">{{ .Get "title" | markdownify }}</span>{{ end }}
      <span class="collapsable-code__toggle" data-label-expand="{{ .Get "expand" | default "△" }}" data-label-collapse="{{ .Get "collapse" | default "▽" }}"></span>
    </label>
      <pre class="
      {{- if .Get "language" }}language-{{ .Get "language" }}{{ end }}
      {{- if .Get "line-numbers" }} line-numbers{{ end }}
      {{- if .Get "command-line" }} command-line{{ end }}"
      {{- /* line highlight plugin */ -}}
      {{- if .Get "line" }} data-line="{{ .Get "line" }}"{{ end }}
      {{- /* line number plugin */ -}}
      {{- if .Get "start" }} data-start="{{ .Get "start" }}"{{ end }}
      {{- /* command-line plugin */ -}}
      {{- if .Get "user" }} data-user="{{ .Get "user" }}"{{ end }}
      {{- if .Get "host" }} data-host="{{ .Get "host" }}"{{ end }}
      {{- if .Get "prompt" }} data-prompt="{{ .Get "prompt" }}"{{ end }}
      {{- if .Get "output" }} data-output="{{ .Get "output" }}"{{ end }}
      ><code {{ if .Get "lang" }}class="language-{{ .Get "lang" }}"{{ end }}
      >{{ trim (htmlUnescape .Inner | safeHTML) "\n" | string | replaceRE "\\\\#" "#" | replaceRE "\\\\_" "_" | replaceRE "_\\\\\\*" "/*" | replaceRE "\\\\\\*_" "*/" | replaceRE "`=" "==" | replaceRE "=`" "=="}}</code></pre>
  </div>
{{ else }}
  {{ errorf "If you want to use the \"collapsable code\" shortcode, you need to pass a mandatory \"language\" param. The issue occured in %q (%q)" .Page.File .Page.Permalink }}
{{ end }}
